.add-goal {
  margin: 1rem; }
  .add-goal .add-goal-input {
    width: 75%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    margin-bottom: 0; }
  .add-goal .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0.5px solid #58d6a1;
    border-left: 0;
    background-color: #58d6a1;
    color: #fff;
    width: 25%;
    transition: background-color 0.2s, border-color 0.2s;
    margin-bottom: 0; }
    .add-goal .btn:hover {
      background-color: #42ad80;
      border-color: #42ad80; }
  .add-goal .error {
    padding: .25rem 1rem; }
