@import './variables.scss';

.add-goal {
  margin: 1rem;

  .add-goal-input {
    width: 75%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    margin-bottom: 0;
  }

  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: .5px solid $green;
    border-left: 0;
    background-color: $green;
    color: $white;
    width: 25%;
    transition: background-color $bg-trans, border-color $bg-trans;
    margin-bottom: 0;

    &:hover {
      background-color: $green-hover;
      border-color: $green-hover;
    }
  }

  .error {
    padding: .25rem 1rem;
  }
}
