@import './variables.scss';

.goal-item {
  background-color: $light-blue;
  padding: .5rem;
  margin: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .goal-title {
    padding-right: 1rem;
    width: 600px;
    text-align: left;
  }
}

.unicode-btn,
.list-btn {
  border: 0;
  background-color: $blue;
  color: $white;
  cursor: pointer;
  transition: background-color $bg-trans;

  &:hover {
    background-color: $blue-hover;
  }
}

.unicode-btn {
  font-size: 1.2em;
  margin-left: .5rem;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.copy-btn {
  line-height: 32px;
  margin-left: 0;
}

.list-btn {
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1em;
  font-weight: $font-weight-normal;
}
