@import './variables.scss';

.goal-list {
  margin-bottom: 3rem;
}

.goal-item {
  background-color: $light-blue;
  padding: .5rem;
  margin: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title-row {
    text-align: left;
  }

  .button-row {
    text-align: right;
  }
}

.goal-email {
  font-size: .8em;
  opacity: .8;
}

.unicode-btn,
.list-btn {
  border: 0;
  color: $white;
  cursor: pointer;
  transition: background-color $bg-trans;
}

.unicode-btn {
  position: relative;
  font-size: 1.2em;
  margin-left: .5rem;
  border-radius: 50%;
  height: 32px;
  width: 32px;

  &:first-child {
    margin-left: 1rem;
  }

  &:hover .tooltip {
    visibility: visible;
  }

  &:focus {
    outline: none;
  }
}

.complete {
  background-color: $green;

  &:hover {
    background-color: $green-hover;
  }
}

.delete {
  background-color: $red;

  &:hover {
    background-color: $red-hover;
  }
}

.copy-btn {
  background-color: $blue;
  color: $blue;
  line-height: 32px;

  &:hover {
    background-color: $blue-hover;
  }
}

.list-btn {
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1em;
  font-weight: $font-weight-normal;
  background-color: $blue;

  &:hover {
    background-color: $blue-hover;
  }
}

.tooltip {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -50px;
    z-index: 1;
    font-size: .8em;

    &:focus {
      outline: none;
    }
}
