.goal-list {
  margin-bottom: 3rem; }

.goal-item {
  background-color: #d6ddee;
  padding: .5rem;
  margin: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .goal-item .title-row {
    text-align: left; }
  .goal-item .button-row {
    text-align: right; }

.goal-email {
  font-size: .8em;
  opacity: .8; }

.unicode-btn,
.list-btn {
  border: 0;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s; }

.unicode-btn {
  position: relative;
  font-size: 1.2em;
  margin-left: .5rem;
  border-radius: 50%;
  height: 32px;
  width: 32px; }
  .unicode-btn:first-child {
    margin-left: 1rem; }
  .unicode-btn:hover .tooltip {
    visibility: visible; }
  .unicode-btn:focus {
    outline: none; }

.complete {
  background-color: #58d6a1; }
  .complete:hover {
    background-color: #42ad80; }

.delete {
  background-color: #f93737; }
  .delete:hover {
    background-color: #c13636; }

.copy-btn {
  background-color: #1762ee;
  color: #1762ee;
  line-height: 32px; }
  .copy-btn:hover {
    background-color: #1554c9; }

.list-btn {
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 300;
  background-color: #1762ee; }
  .list-btn:hover {
    background-color: #1554c9; }

.tooltip {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -50px;
  z-index: 1;
  font-size: .8em; }
  .tooltip:focus {
    outline: none; }
