@import './variables.scss';

.navbar {
  background-color: $red;
  color: $white;
  height: 60px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .menu-list {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      justify-content: flex-end;

      li {
        padding: 0 2rem;
      }
    }
  }
}
