@import './variables.scss';
@import './main.scss';

.navbar {
  background-color: $blue;
  color: $white;
  height: 60px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .menu-list {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      justify-content: flex-end;

      li {
        padding: 0 2rem;
      }
    }
  }

  a:active,
  a:link,
  a:visited {
    color: $white;
    transition: color $bg-trans;
  }

  a:hover {
    color: $light-blue;
  }
}
