@import './variables.scss';

.sign-in,
.sign-up {
  background: $dark-blue;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  h1 {
    color: $white;
  }

  h1 {
    text-align: center;
  }

  h4 {
    color: $blue;
  }

  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    text-align: center;

    .inner-form {
      background-color: #fff;
      width: 400px;
      margin: 0 auto;
      padding: 1rem;
      border-radius: 10px 10px 0 0;
    }

    input {
      border: 0;
      font-family: $font-family;
      font-size: $base-font-size;
      height: 3rem;
      margin: 0 0 1.5rem;
      padding: .5rem;
      width: 100%;
      border: 1px solid $light-blue;
      border-radius: 20px;
      color: $blue;

      &:focus {
        outline: none;
        border: .5px solid $blue;
      }
    }

    .btn {
      border: 0;
      cursor: pointer;
      margin-bottom: 0;
      height: 4.5rem;
      width: 400px;
      background-color: $blue;
      color: $white;
      border-radius: 0 0 10px 10px;
      transition: background-color $bg-trans;

      &:hover {
        background-color: $blue-hover;
      }
    }

    .sign-link {
      font-size: 12px;
      margin: 1rem;

      a {
        transition: color $bg-trans;
      }

      a:link,
      a:active,
      a:visited {
        color: $blue;
      }

      a:hover {
        color: $blue-hover;
      }
    }

    .error {
      border-radius: 20px;
      margin: .5rem;
      padding: .5rem 0;
      background: $red;
      color: $white;
    }
  }
}
