.sign-in,
.sign-up {
  background: #2b2c4e;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }
  .sign-in h1,
  .sign-up h1 {
    color: #fff; }
  .sign-in h1,
  .sign-up h1 {
    text-align: center; }
  .sign-in h4,
  .sign-up h4 {
    color: #1762ee; }
  .sign-in .form,
  .sign-up .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    text-align: center; }
    .sign-in .form .inner-form,
    .sign-up .form .inner-form {
      background-color: #fff;
      width: 400px;
      margin: 0 auto;
      padding: 1rem;
      border-radius: 10px 10px 0 0; }
    .sign-in .form input,
    .sign-up .form input {
      border: 0;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      height: 3rem;
      margin: 0 0 1.5rem;
      padding: .5rem;
      width: 100%;
      border: 1px solid #d6ddee;
      border-radius: 20px;
      color: #1762ee; }
      .sign-in .form input:focus,
      .sign-up .form input:focus {
        outline: none;
        border: 0.5px solid #1762ee; }
    .sign-in .form .btn,
    .sign-up .form .btn {
      border: 0;
      cursor: pointer;
      margin-bottom: 0;
      height: 4.5rem;
      width: 400px;
      background-color: #1762ee;
      color: #fff;
      border-radius: 0 0 10px 10px;
      transition: background-color 0.2s; }
      .sign-in .form .btn:hover,
      .sign-up .form .btn:hover {
        background-color: #1554c9; }
    .sign-in .form .sign-link,
    .sign-up .form .sign-link {
      font-size: 12px;
      margin: 1rem; }
      .sign-in .form .sign-link a,
      .sign-up .form .sign-link a {
        transition: color 0.2s; }
      .sign-in .form .sign-link a:link,
      .sign-in .form .sign-link a:active,
      .sign-in .form .sign-link a:visited,
      .sign-up .form .sign-link a:link,
      .sign-up .form .sign-link a:active,
      .sign-up .form .sign-link a:visited {
        color: #1762ee; }
      .sign-in .form .sign-link a:hover,
      .sign-up .form .sign-link a:hover {
        color: #1554c9; }
    .sign-in .form .error,
    .sign-up .form .error {
      border-radius: 20px;
      margin: .5rem;
      padding: .5rem 0;
      background: #f93737;
      color: #fff; }
