//COLORS
$black: #000;
$white: #fff;
$red: #f93737;
$red-hover: #c13636;
$dark-blue: #2b2c4e;
$blue: #1762ee;
$blue-hover: #1554c9;
$light-blue: #d6ddee;
$green: #58d6a1;
$green-hover: #42ad80;

//FONTS
$base-font-size: 16px;
$tablet-font-size: 15px;
$mobile-font-size: 14px;
$base-margin: $base-font-size * 1.6;

$font-family: 'Roboto', sans-serif;
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;

//TRANSITIONS
$bg-trans: .2s;

//BREAKPOINTS
$desktop: 1024px;
$tablet: 768px;
$phone: 360px;
